@charset "UTF-8";

.contents{
  padding-top: 55px;
}
.wrap_lately{
  background-color: #fff;
}

// BoxOption
.area_option{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  background: #f4edff;
}
.group_option{
  margin-left: auto;
  .btn_delete{
    margin-left: 10px;
  }
}  

// item list

.list_item{
  >li{
    position: relative;
    margin: 10px 20px 10px 30px;
  }
  .btn_delete{
    position: absolute;
    top: 0;
    right: 0;
  }
  .btn_choice{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.link_item{
  display: flex;
  .thumb_item{

  }
  .info_item{
    
  }
}
