@charset "UTF-8";

.contents{
  padding-top: 55px;
}
.wrap_lately{
  background-color: #fff;
}

// BoxOption
.area_option{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  background: #f3fdff;
  .num_total{
    color: #777;
  }
}
.group_option{
  margin-left: auto;
  color: #777;
  .btn_delete{
    margin-left: 10px;
  }
}  

// item list
.area_lists{
  padding: 0 15px 50px;
}
.box_date{
  .date{
    margin: 20px 0 10px 0;
    font-size: 14px;
  }
}
.list_item{
  >li{
    position: relative;
    margin-left: 30px;
    padding: 10px 20px 10px 0;
    border-bottom: 1px dotted #ddd;
  }
  .type_page{
    .btn_delete{
      position: absolute;
      right: 0;
    }
  }
  .box_btn{
    position: absolute;
    right: 0;
    bottom: 10px;
    .btn_delete{
      margin-left: 5px;
    }
    &.selected{
      .btn_choice{
        background-position: -66px -24px;
      }
    }
  }
  .btn_delete, .btn_choice{
    width: 20px;
    height: 20px;
    background-image: url(https://raw.githubusercontent.com/modangirlbin/recently-item/master/src/img/sp_common.png);
    background-repeat: no-repeat;

  }
  .btn_choice{
    margin-left: 10px;
    background-position: -89px -26px;
    background-size: 230px auto;
    // -66px -26
    .selected &{
      background-position: -66px -26px;
    }
  }
  .btn_delete{
    background-position: 1px -40px;
    background-size: 250px auto;
    // .type_page &{
    //   position: absolute;
    //   right: 0;
    // }
  }
  .tit_page{
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    max-width: calc(100% - 75px);
    vertical-align: top;
  }
  .ico_event{
    padding: 4px;
    font-weight: bold;
    color: skyblue;
  }
  .ico_live{
    @extend .ico_event;
    position: relative;
    margin-left: 42px;
    &::before{
      content: "Live";
      position: absolute;
      margin-left: -45px;
      padding: 0px 6px;
      border-radius: 10px;
      line-height: 18px;
      color: #fff;
      background-color: red;
    }
    +.tit_page{
      max-width: calc(100% - 115px);
    }
  }
}
.link_item{
  display: flex;
  .thumb_item{
    flex: 0 0 70px;
    img{
      width: 100%;
    }
  }
  .info_item{
    margin-left: 10px;
    font-weight: normal;
  }
  .price_item{
    display: block;
    font-weight: bold;
  }
  .tit_item{
    display: -webkit-box;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    font-weight: normal;
    overflow: hidden;
  }
}
.area_banner{
  .img{
    width: 100%;
  }
}