@charset "UTF-8";

.contents{
  padding-top: 55px;
}
.wrap_lately{
  background-color: #fff;
}

// BoxOption
.area_option{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  background: #f3fdff;
}
.group_option{
  margin-left: auto;
  .btn_delete{
    margin-left: 10px;
  }
}  

// item list
.area_lists{
  padding: 15px 15px 100px;
}
.box_date{
  .date{
    font-size: 14px;
  }
}
.list_item{
  >li{
    position: relative;
    margin-left: 30px;
    padding: 10px 20px 10px 0;
    border-bottom: 1px dotted #ddd;
  }
  .box_btn{
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  .btn_delete, .btn_choice{
    width: 25px;
    height: 25px;
    background: pink;
  }
  .btn_choice{
    margin-left: 10px;
  }
  .btn_delete{
    margin-left: 5px;
  }
  .tit_page{
    margin-left: 10px;
    font-weight: normal;
  }
  .ico_event{
    padding: 4px;
    border: 1px solid magenta;
    color: magenta;
  }
}
.link_item{
  display: flex;
  .thumb_item{
    flex-basis: 100px;
    img{
      width: 100%;
    }
  }
  .info_item{
    margin-left: 10px;
    font-weight: normal;
  }
  .price_item{
    display: block;
    font-weight: bold;
  }
  .tit_item{
    font-weight: normal;
  }
}
